<!doctype html>
<html>
  <head>
    <title>NotebookUI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../../../global.css" />
    <link rel="stylesheet" href="video.css" />
  </head>
  <body>
    <div class="media">
      <video autoplay loop muted playsinline>
        <source
          src="https://res.cloudinary.com/moona/video/upload/q_auto/v1741306213/moona-bg-2510-4_cwmjkv.mp4"
          type="video/mp4"
        />
      </video>
    </div>
  </body>
</html>
